$black: #000;
$white: #FFF;

html {
  box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: inherit;
}


html, body, #root {
  padding: 0px !important;;
  margin: 0px !important;;
  height: 100vh;
  width: 100vw;
}

body.dark {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black;
  margin: 0px;
}

div.App {
  height: 100vh;;
  box-sizing: border-box;
  main {
    height: 100vh;
  }
}

input.MuiInputBase-input {
  outline: 0 !important;
  background: $white;
  color: $black;
  border: 1px solid $white;
  border-radius: 5px;
}
button.dark.MuiButton-root {
  background: #1f2556;
  color: $white;
  border: none;
  border-bottom: 30px;
}
.box-header {
  margin: 20px 20px 0;
}
.Login {
  max-width: 200px;
  height: 100vh;
  form {
    height: 100vh;;
  }
  .login-submit {
    margin-top: 20px;
  }

  #login-alert {
    margin-bottom: 20px;
  }

  .MuiAlert-message {
    color: $white;
  }
}

#chat {
  flex-grow: 1;
  height: calc(100vh );
  margin: 0 auto;
  > div {
    flex-grow: 1;
    > div.MuiGrid-item {
      flex-grow: 1;
      height: calc(100vh - 20px);
      display: flex;
    }
  }

  .chat-box {
    width: 100%;
    background: $white;
  }
}

#users-list, #rooms-list {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  margin-top: 10px;
  width: 100%;
  background: #343C80;
  color: $white;
  .box {
    display: flex;
    overflow: auto;
    flex: 1;
    flex-direction: column;
  }
  .MuiAvatar-circle {
    background: #444b7f;
    font-size: 14px;
  }
  ul.MuiList-root {
    overflow-y: auto;
    flex: 1;
    li {
      padding: 10px 10px;
      list-style-type: none;
      border-top: 1px solid #2C3171;
      &:hover, &.active {
        background: #282F66;
      }
    }
  }
}

#rooms-list li {
  cursor: pointer;
}

#messages-box {
  flex-direction: column;
  display: flex;
  height: calc(100vh - 30px) !important;
  margin-top: 10px;
}

#messages {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: $white;
  width: 100%;
  .room-header {
    font-size: 12px;
    background: #F9F9F9;
    border-bottom: 2px solid #E0E0E0;
    width: 100%;
    padding: 20px;
  }
  ul {
    overflow-y: auto;
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    padding: 20px 10px;
    li {
      div {
        width: 100% !important;
      }
      .info {
        font-size: 12px;
        text-align: right;
        color: rgba(0, 0, 0, 0.34);
      }
      .user-date {
        display: flex;
        flex: 1;
        width: 100%;
        flex-direction: row;
        span.user {
          flex: 1;
        }
        span.date {
          flex: 1;
          align-items: flex-end;
          text-align: right;
          color: rgba(0, 0, 0, 0.54);
          font-size: 0.7rem;
         }
      }
      span {
        margin: 0;
        font-size: 0.875rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1.43;
        letter-spacing: 0.01071em;
      }
      p {
        margin: 0;
        color: rgba(0, 0, 0, 0.54);
        font-size: 0.875rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1.43;
        letter-spacing: 0.01071em;
      }
    }
  }
}

#message-input {
  display: flex;
  background: #F9F9F9;
  .MuiFormControl-root {
    margin: 10px 10px;
  }
  input {
    border-radius: 0;
    border: 1px solid #D9D9D9;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
