$black: #000;
$white: #FFF;

html {
  box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: inherit;
}


html, body, #root {
  padding: 0px !important;;
  margin: 0px !important;;
  height: 100vh;;
  width: 100vw;
}

body.dark {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black;
  margin: 0px;
}

div.App {
  height: 100vh;;
  box-sizing: border-box;
  main {
    height: 100vh;;
  }
}

input.MuiInputBase-input {
  outline: 0 !important;
  background: $white;
  color: $black;
  border: 1px solid $white;
  border-radius: 5px;
}
button.dark.MuiButton-root {
  background: $black;
  color: $white;
  border: 1px solid $white;
}

.Login {
  max-width: 200px;
  height: 100vh;;
  form {
    height: 100vh;;
  }
  .login-submit {
    margin-top: 20px;
  }

  #login-alert {
    margin-bottom: 20px;
  }

  .MuiAlert-message {
    color: $white;
  }
}

#chat {
  flex-grow: 1;
  height: calc(100vh );
  margin: 0 auto;
  > div {
    flex-grow: 1;
    > div.MuiGrid-item {
      flex-grow: 1;
      display: flex;
    }
  }

  .chat-box {
    width: 100%;
    background: $white;
  }
}

#users-list, #rooms-list {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  margin-top: 10px;
  width: 100%;
  background: $white;
  padding: 10px;
  ul {
    padding-left: 10px;
    li {
      list-style-type: none;
    }
  }
}
#messages-box {
  flex-direction: column;
  display: flex;
  height: calc(100vh - 20px);
  margin-top: 10px;
}

#messages {
  display: flex;
  flex-grow: 1;
  background: $white;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}

#message-input {
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
